<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Interview</title>
    <!--<link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}">-->
    <link rel="stylesheet" href="..\static\style.css">
</head>
<body>
    <header>
        <h1>The Interview</h1>
    </header>
    <div class="container">
        <aside class="sidebar">
            <ul>
                <li><a href="/#task">The Task</a></li>
                <li><a href="/#tools">Your Tools</a></li>
                <li><a href="/#target">Machines To Target</a></li>
                <li><a href="/#dosdonts">Do’s and Don’ts</a></li>
                <li><a href="/#reset">Resetting Machines</a></li>
            </ul>
        </aside>
    <main class="content">
        <div class="scrollable">
            <h2>Resetting Machines</h2>
            <p>
                Mahcine 1: <button>Reset</button>
            </p>
        </div>
    </main>